<section id="contact" class="wow fadeInUp">
<!-- <div class="jumbotron subhead"> -->
  <div class="container">
    <div class="section-header">
      <h2>Contact</h2>
    </div>
</div>

<div class="container mb-4">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3875.437927081162!2d100.5928927!3d13.7524442!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29e7000000001%3A0x79f9646b9a0bed38!2sAnunda%20Technology%20Company%20Limited!5e0!3m2!1sen!2sth!4v1575960302254!5m2!1sen!2sth"
    width="100%" height="380" frameborder="0" style="border:0;" allowfullscreen></iframe>
</div>

<app-send-message></app-send-message>

</section>