<section id="services">
  <div class="container">
    <div class="section-header">
      <h2>Products</h2>
      <!--       <p>Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet veniam enim
          export quid quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute nulla ipsum velit export
          irure minim illum fore</p> -->
    </div>

    <!-- <div *ngFor="let cate of listCate">
      <div class="form-row">
        <div class="col-lg-11">
          <div class="box wow fadeInRight">
            <div class="icon"><i class="fa fa-bar-chart"></i></div>
            <h4 class="title"><a [routerLink]="['/cate-iot']">{{cate.Name}}</a></h4>
            <p class="description">{{cate.Detail}}</p>
          </div>
        </div>
      </div>

    </div> -->
    <div *ngFor="let dataCate of listCate">
      <div class="col-lg-12">
        <div class="box wow" data-aos="fade-left"  data-aos-duration="1000" (click)="setLink(dataCate.id)">
          <div class="icon"><i class="fa fa-bar-chart"></i></div>
          <h4 class="title bounce"><a>{{dataCate.Name}}</a></h4>
          <p class="description">{{dataCate.Detail}}</p>
        </div>
      </div>
    </div>

  </div>
</section><!-- #products -->