<section id="about" class="wow fadeInUp">
  <div class="container">
    <div class="row" *ngFor="let data of aboutList">
      <div class="col-lg-6 about-img" *ngIf="data">
        <img [src]="data.image" alt="">
      </div>

      <div class="col-lg-6 content">
        <h2>{{ data.name }}</h2>
        <h3>{{ data.descripttion }}</h3>

        <ul>
          <li><i class="ion-android-checkmark-circle"></i> {{data.sub_des1}}</li>
          <li><i class="ion-android-checkmark-circle"></i> {{data.sub_des2}}</li>
          <li><i class="ion-android-checkmark-circle"></i>{{data.sub_des3}}</li>
        </ul>

      </div>
    </div>

  </div>
</section><!-- #about -->