<section id="portfolio">
  <div class="footer-wrap">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6" *ngFor="let data of aboutList">
          <h3>ABOUT</h3>
          <div class="footer-logo"><img src="./assets/img/anundaa.png" alt=""></div>
          <p>{{data.descripttion}}</p>
        </div>
        <div class="col-md-2 col-sm-6">
          <!-- <h3>Quick  LInks</h3>
          <ul class="nav-menu">
            <li class="menu-active"><a href="#body">Home</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a href="#services">Products</a></li>
            <li><a href="#portfolio">Solutions</a></li>
          </ul> -->
        </div>
        <div class="col-md-3 col-sm-6">
          <h3>PRODUCT</h3>
          <ul class="footer-category" *ngFor="let dataCate of listCate">
            <li><a [routerLink]="['/category']" (click)="setLink(dataCate.id)">{{dataCate.Name}}</a></li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="col-md-3 col-sm-6" *ngFor="let item of contactList">
          <h3>Contact</h3>
          <div class="address">{{item.address1}}</div>
          <div class="address">{{item.tel}}</div>
          <div class="address">{{item.email}}</div>
        </div>
      </div>
      <div class="copyright">Copyright © 2020 Anunda Technology - All Rights Reserved.</div>
    </div>
  </div>
</section>