<!--==========================
    Top Bar
  ============================-->
<app-topbar></app-topbar>

<!--==========================
    Header
  ============================-->
<app-header></app-header>

<!--==========================
    Intro Section
  ============================-->
<app-intro></app-intro>

<main id="main">

  <!--==========================
      About Section
    ============================-->
  <app-about></app-about>

  <!--==========================
      Services Section
    ============================-->
  <app-service></app-service>

  <!--==========================
      Clients Section
    ============================-->
  <app-clients></app-clients>

  <!--==========================
      Our Portfolio Section
    ============================-->
  <app-out-portfolio></app-out-portfolio>

  <!--==========================
      Testimonials Section
    ============================-->
  <app-testimonials></app-testimonials>

  <!--==========================
      Call To Action Section
    ============================-->
  <app-call-to-action></app-call-to-action>

  <!--==========================
      Our Team Section
    ============================-->
  <app-our-team></app-our-team>

  <!--==========================
      Contact Section
    ============================-->
  <app-contact></app-contact>

</main>

<!--==========================
    Footer
  ============================-->
<footer id="footer">
  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong>Anunda Technology</strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div>
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>