<section id="call-to-action" class="wow" data-aos="fade-up" data-aos-duration="2000">
  <div class="container" data-aos="fade-up" data-aos-duration="2000">
    <div class="row">
      <div class="col-lg-9 text-center text-lg-left" *ngIf="queryRef">
        <h3 class="cta-title">Category</h3>
        <p class="cta-text"> {{queryRef.Detail}}</p>
      </div>
      <div class="col-lg-3 cta-btn-container text-center">
        <a class="cta-btn align-middle" [routerLink]="['/call-to-action-detail']">Read more</a>
      </div>
    </div>

  </div>
</section>