<ngx-spinner bdColor="rgba(27, 38, 49,0.8)" size="large" color="#f4696b" type="pacman">
    <br><br><br>
    <p style="font-size: 20px; color: white;">Loading...</p>
</ngx-spinner>

<!--======= Header =======-->
<header id="header">
    <div class="container  animated fadeIn" *ngIf="checkShow_head">
        <div id="logo" class="pull-left">
            <h2><a [routerLink]="['/index']" (click)="gotoIndex()" class="scrollto">Anunda
                    <span>Technology</span></a>
            </h2>
        </div>
        <div class="pull-right">
            <app-topbar></app-topbar>
        </div>
    </div>
</header><!-- #header -->
<!--====================================================================================================================-->

<div class="jumbotron subhead animated bounceIn delay-2s" style="background-color: #A93226;">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h2 style="color: white">Product Solutions</h2>
                <p style="font-size: 110%; color: white">
                    {{queryRef.Detail}}
                </p>
            </div>
        </div>
    </div>
</div>

<section id="portfolio">
    <div class="container animated fadeIn delay-3s">

        <div class="col">
            <div class="btn-group-toggle" data-toggle="buttons">
                <label class="btn button5 active" (click)="clickShow_data('RF & Microwave product')">
                    <input type="radio" name="options" id="option1" autocomplete="off">RF & Microwave product
                </label>
                <label class="btn button5" (click)="clickShow_data('RF Passive product')">
                    <input type="radio" name="options" id="option2" autocomplete="off">RF Passive product
                </label>
                <label class="btn button5" (click)="clickShow_data('Kiosk & Vending machine')">
                    <input type="radio" name="options" id="option3" autocomplete="off">Kiosk & Vending machine
                </label>
                <label class="btn button5" (click)="clickShow_data('IoT')">
                    <input type="radio" name="options" id="option4" autocomplete="off">Iot
                </label>
            </div>
        </div><br><br>

        <div class="container-fluid" *ngIf="checkShow">
            <div class="row no-gutters">
                <div class="col-lg-4 col-md-6 mb-4" *ngFor="let data of tableData">
                    <div class="portfolio-item wow col-md-11 hovereffect">
                        <img src="{{data.image_url}}" alt="">
                        <div class="portfolio-overlay overlay">
                            <div class="portfolio-info">
                                <h2>{{data.name}}</h2>
                                <!--   <button type="button" class="btn btn-outline-light" data-toggle="modal"
                                    data-target="#exampleModal" (click)="modal(data)">
                                    Link detail
                                </button> -->

                                <span class="col-md-11">
                                    <a (click)="linkDetail(data.id)">
                                        <i class="fa fa-external-link fa-3x"></i>
                                    </a></span>

                                <span class="col-md-11">
                                    <a data-toggle="modal" data-target="#exampleModal" (click)="modal(data)">
                                        <i class="fa fa-search-plus fa-3x"></i>
                                    </a></span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div class="text-center animated fadeIn delay-2s" *ngIf="checkShow">
            <button class="btn btn btn-info btn-sm float-left" (click)="prevPage()"
                [disabled]="disable_prev || !(pagination_clicked_count>0)">Previous</button> <b>Page no:
                {{pagination_clicked_count+1}}</b>
            <button class="btn btn btn-info btn-sm float-right" (click)="nextPage()"
                [disabled]="disable_next">Next</button>
        </div>
    </div>
</section>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" *ngIf="dataModel">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{dataModel.name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="{{dataModel.image_url}}" class="img-fluid" alt="..."><br><br>
            </div>
        </div>
    </div>
</div>




<app-footer></app-footer>